body {
	background-color: hsl(0, 0%, 99%);
	color: hsl(0, 0%, 20%);
	min-width: 400px;
}

h1 {
	text-align: center;
	font-size: 3em;
}

h2 {
	text-align: center;
	font-size: 2.2em;
}

h3 {
	text-align: center;
	font-size: 1.7em;
}

h4 {
	text-align: center;
	font-size: 1.2em;
}

input {
	border: none;
	width: 40vw;
	min-width: 180px;
	margin: 15px auto;
	display: block;
	text-align: center;
	background-color: hsla(0, 0%, 95%, 0);
	
	font-size: 1.2em;
	outline: none;
	border-bottom: 2px solid hsla(0, 0%, 0%, 0);
}

input[type="text"]:focus {
	border-bottom: 2px solid hsl(0, 0%, 10%);
}

button {
	margin: 10px auto;
	display: block;
}


ul {
	list-style: none;	
}

li {
	margin-bottom: 8px;
}

.title {
	text-decoration: none;
	color: inherit;
}

.nav {
	margin: 15px auto;
	text-align: center;
}

.nav a {
	color: inherit;
}

.nav a:hover {
	color: #AF1016;
}

.id {
	margin-left: 8px;
	font-size: 0.8em;
	color: hsl(0, 0%, 50%);
}

.pkg-list {
	width: 80vw;
	margin: 0 auto;
}

.pkg {
	transition: all 0.25s ease;
}

.pkg:hover {
	background-color: hsl(0, 0%, 90%);
}

.pkg a {
	text-decoration: none;
}

.info {
	text-align: center;
	margin: 0 auto;
	max-width: 450px;
	color: inherit;
}